* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
}

::-webkit-scrollbar {
  background-color: greenyellow;
}

::-webkit-scrollbar-thumb {
  background-color: purple;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-button {
}

html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  background-image: url(./img/rick-and-morty-cool-t3ynu5ly9m7jq6e2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
}

header {
  display: flex;
  background-color: #00000099;
  width: 100%;
  justify-content: space-around;
}

.search-bar {
  align-content: center;
  display: flex;
  gap: 0.1rem;
  align-items: center;
}

.portal {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 0.5rem;
  height: 50px;
  background: url("./img/portal-texture.jpg_large");
  background-size: cover;
}

.logo {
  width: 200px;
  margin-right: auto;
}

.bar {
  height: 50px;
  border-radius: 15px;
  padding-left: 0.5rem;
}

.bar:focus {
  outline: none;
}

.container {
  width: 800px;
  margin: 50px auto;
  text-align: center;
}


h1 {
  color: #4caf50;
}

.search-box input[type="text"] {
  padding: 10px;
  width: 300px;
  height: 5px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.search-box button {
  padding: 10px 20px;
  background-color: #4caf50;
  background-image: url(./img/portal.jpg);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.character-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #1da126;
  border-radius: 5px;
  background-color: #ffffff;
  width: 200px;
  min-height: 368.8px;
  position: relative;
  transition: 0.5s;
}

.character-card img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.character-card:hover{
  height: 425px;
  width: 300px;
}

footer {
  display: flex;
  background-color: black;
  height: fit-content;
  width: 100%;
  justify-content: center;
  align-items: center;
}

footer p {
  color: white;
  font-size: 24px;
  font-weight: 900;
}
